* {
  margin: 0;
  padding: 0;
}
body {
  background:linear-gradient( #db78c595, rgb(211, 139, 184));
  font-family: Arial, sans-serif;   
}
.container {
  max-width: 500px;
  margin: auto;
  background: rgba(255, 255, 255, 0.679);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(153, 32, 204, 0.94);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1 {
  text-align: center;
  padding: 30px;
  color: #8d0679;
}
textarea {
  width: 100%;
  min-height: 50px;
  resize: none; 
  box-sizing: border-box;
}
  textarea, input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: auto;
  box-sizing: border-box;
}
textarea:focus, input:focus, select:focus {
  outline: none;
  border-color: #7b0fad;
  box-shadow: 0 0 3px rgba(168, 45, 239, 0.5);
}
button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #cf85c4;
  color: white;
  border: none;
  cursor: pointer;
}
.botoes {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
button:hover {
  background: #9a1bbd;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
li {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#totais {
  margin-top: 20px;
  background: #ffffff;
  padding: 10px;
  border-color: solid 1px black;
  border-radius: 6px;
}
.material {
  border-left: 5px solid #551bc19f;
}
.maoDeObra {
  border-left: 5px solid #ff00009b;
}
.tipo-texto {
  font-size: 13px;
  color: #666;
  margin-top: 5px;
}
#totais h3 {
  padding: 15px;
  color: #8d0679;
}
#totalGeral {
  background-color: white;
  color:#8d0679
}
#backup {
  padding: 15px;
  color: #8d0679;
}
footer {
  text-align: center;
  background-color:#b879af;
  color: white;
  font-style: italic;
  padding: 10px;
  margin-top: 50px;
}
footer img {
  width: 20px;
  height: auto;
  border-radius: 10px;
  vertical-align: middle;
  margin-left: 5px;
}
